

@{
    ViewBag.Title = "UserAssignedToProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


</head>
<body>
    <br />
    <br />

    <h1>Demo - Manager</h1>
    <br />
    <br />

    <div class="carousel"
         data-flickity='{ "lazyLoad": true }'>
        <div class="carousel-cell">
            <img class="carousel-cell-image"
                 data-flickity-lazyload="/Images/Manager/login.png" alt="" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image"
                 data-flickity-lazyload="/Images/Manager/goToDashboard.png" alt="" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image"
                 data-flickity-lazyload="/Images/Manager/DashBoard.png" alt="" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image"
                 data-flickity-lazyload="/Images/Manager/Projects.png" alt="" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image"
                 data-flickity-lazyload="/Images/Manager/AssignProject.png" alt="" />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image"
                 data-flickity-lazyload="/Images/Manager/unAssignProject.png" alt="leaf " />
        </div>
        <div class="carousel-cell">
            <img class="carousel-cell-image"
                 data-flickity-lazyload="/Images/Manager/Tickets.png" alt="leaf " />
        </div>


    </div>

    <br />
    <br /><br />
    <br />

</body>
</html>
