@model IList<BugTracker.Models.ProjectClasses.TicketNotificationViewModel>
@{
    ViewBag.Title = "DeveloperNotifications";
}

<h2> Notifications</h2>
<div class="Notifi">
    @if (Model.Count > 0)
    {
        <br /><br />
        <table class="table table-hover">
            <tr>
                <th>
                    TicketID
                </th>

                <th></th>
            </tr>

            @foreach (var Notifi in Model)
            {
                if (Notifi.IsNew == true)
                {
                    <tr style="background-color:lightgray">

                        <td>
                            @Html.ActionLink( Notifi.TicketTitle, "UpdateNotifications", "Developer", new { NotifiId = Notifi.NotificationId }, null)

                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                      
                        <td>
                            @Html.ActionLink( Notifi.TicketTitle, "UpdateNotifications", "Developer", new { NotifiId = Notifi.NotificationId }, null)

                        </td>
                    </tr>
                }


            }

        </table>


    }
    @Html.ActionLink("Back To Developer DashBoard", "Index", "Developer")
</div>


