@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 150px; margin-bottom: 400px">
    <h2>Powerful and Efficient Bug Tracking</h2>
    <p class="lead">Streamline your projects with our software.</p>
    <br/>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">DEMO &raquo;</a></p>
</div>
