@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="btn btn-info btn-xs">
    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</div>
<div class="btn btn-info btn-xs">
    @Html.ActionLink("Go to dashboard", "Index", "Manager")
</div>

